


/* handjet-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Handjet';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/handjet-v17-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

/* padding inside  start*/
html{
    box-sizing: border-box;
    background: #FFE1E1;
    font-family: Handjet;
    font-style: normal;
}
*, *::before, *::after{
    box-sizing: inherit;
}
/* padding inside  end*/
/* .wrapper_max{

} */


.title{
color: #292525;
font-size: 48px;
font-weight: 400;
line-height: normal;
}
.header{
    margin-bottom: 30px;
}
.input_block{
    max-width: 425px;
    max-height: 150px;
}
