<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ascii-art-web</title>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <header class="header">
        <div class="wrapper_max">
            <h1 class="title">ASCII-ART-WEB</h1>
        </div>
    </header>
    <main class="main">
        <div class="input_block">
            <textarea class="input" cols="50" rows="8">{{.Text}}</textarea>
        </div>
    </main>
</body>
</html>